@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');

 /*------------- Whole Document---------------- */

.title {
    font-family: "Avenir";
    color: #BEBF65;
    font-size: 26px;
} 

h1 {
    font-family: "Avenir";
    color: #AEC96F;
    font-size: 24px;
} 

h2 {
    font-family: "Avenir";
    color: #BEBF65;
    font-size: 22px;
} 

h3 {
    font-family: "Avenir";
    color: #AEC96F;
    font-size: 18px;
} 

h4 {
    font-family: "Avenir";
    color: #BEBF65;
    font-size: 16px;
    font-style: italic;
} 

body{
  font-family: 'Avenir';
  font-size: 16px;
}

/* links */
a { 
  color: #5ebccf;
}

a:hover {
 color: #50a0b0; /* darker color when hovering */
}

.caption {
    font-size: 14px;
    font-family: "Avenir";
    color: #AEC96F;
}

body { background-color: #2B2828; }
    pre, pre:not([class]) { background-color: #2B2828; }

/*----------------ADDING WHITE SPACE-------------*/

.title {
  margin-top: 3em !important;
  margin-bottom: 1.25em;
}

.section h1,
.section h2, 
.section h3, 
.section h4, 
.section h5 { 
  padding-top: 6em !important; /*adding so much padding because theme adds a margin-top: -65px by default */
  margin-bottom: 1.25em;
}

 /* Space Between TOC and 
  Righthand side content on large screens */

 @media (min-width: 992px) {
    .col-md-9 {
      width: 75%;
      padding-left: 5em !important;
    }
 }
 
 /*----------------NAVBAR ---------------*/
.navbar-inverse {
    background-color: #009BB0f2;
}

.navbar-inverse .navbar-nav>.open>a, 
.navbar-inverse .navbar-nav>.active>a, 
a.dropdown-toggle:hover {
  background-color: #114C54 !important;
}

/* Dropdown menu color */
.navbar-inverse .dropdown-menu {
  background-color: ##009BB05;
}

/* Dropdown menu hover color */
  .navbar-inverse .dropdown-menu>li>a:hover {
    background-color: #009BB0f2;
  }

/* Navbar Links when hovered*/
.navbar-inverse .dropdown-menu>.active>a
.navbar-inverse .navbar-nav>.active>a:hover, 
.navbar-inverse .navbar-nav:hover, 
.navbar-inverse .navbar-nav>li>a:hover, 
a.navbar-brand:hover {
  color: #ffffffab !important;
  background-color: #009BB0;
}

